<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="82" android:versionName="2.1.25" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="me.bridgefy.main" platformBuildVersionCode="82" platformBuildVersionName="2.1.25">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:theme="@style/BridgefyTheme" android:label="@string/app_name" android:icon="@drawable/icon_launcher" android:name="p140me.bridgefy.main.BridgefyApp" android:allowBackup="false" android:logo="@drawable/bf" android:largeHeap="true" android:supportsRtl="false" android:roundIcon="@drawable/round_icon" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:label="@string/app_name" android:name="p140me.bridgefy.main.TabbedMainActivity" android:launchMode="singleTask" android:configChanges="orientation" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name="p140me.bridgefy.intro.SplashActivity"/>
        <activity android:label="@string/whats_your_name" android:name="p140me.bridgefy.intro.SignupActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:theme="@style/FirebaseTheme" android:label="@string/verify_title" android:name="p140me.bridgefy.intro.VerificationActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="p140me.bridgefy.broadcast.BroadcastActivity" android:launchMode="singleTop" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:name="p140me.bridgefy.chat.ChatActivity" android:launchMode="singleTop" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:name="p140me.bridgefy.intro.IntroActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_contacts_help" android:name="p140me.bridgefy.contacts.ContactsHelpActivity" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:label="@string/settings" android:name="p140me.bridgefy.settings.SettingsActivity" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:label="@string/sdk_text" android:name="p140me.bridgefy.settings.BridgefyInfoActivity" android:parentActivityName="me.bridgefy.settings.SettingsActivity"/>
        <activity android:label="@string/about" android:name="p140me.bridgefy.main.AboutActivity" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:label="@string/development_options" android:name="p140me.bridgefy.settings.DevelopmentOptionsActivity" android:windowSoftInputMode="stateHidden" android:parentActivityName="me.bridgefy.main.TabbedMainActivity"/>
        <activity android:label="@string/activity_block_title" android:name="p140me.bridgefy.contacts.BlockedUsersActivity" android:parentActivityName="me.bridgefy.settings.SettingsActivity"/>
        <activity android:label="@string/title_activity_location_share" android:name="p140me.bridgefy.chat.LocationActivity" android:parentActivityName="me.bridgefy.chat.ChatActivity"/>
        <activity android:theme="@style/BridgefyTheme" android:label="@string/title_activity_log_tests" android:name="p140me.bridgefy.integration.LogTestsActivity"/>
        <service android:name="p140me.bridgefy.utils.MyPushbulletExtension" android:permission="com.pushbullet.android.permission.READ_MESSAGING_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.pushbullet.android.extension.MessagingExtension"/>
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1"/>
        </service>
        <service android:label="Bridgefy Service" android:name="p140me.bridgefy.service.BridgefyService"/>
        <service android:name="p140me.bridgefy.cloud.FirebaseListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="p140me.bridgefy.utils.P2pAddressAcquisitionService"/>
        <service android:name="p140me.bridgefy.storage.service.UploadService"/>
        <service android:name="p140me.bridgefy.cloud.StartupIntentService" android:exported="true"/>
        <service android:name="p140me.bridgefy.cloud.job_services.KeyUploadJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name="p140me.bridgefy.cloud.job_services.RegIdJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name="p140me.bridgefy.cloud.job_services.UserUpdateJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name="p140me.bridgefy.cloud.job_services.BlockedOpsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name="p140me.bridgefy.cloud.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="me.bridgefy.main.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="me.bridgefy.tracker.debug" android:value="UA-63115155-2"/>
        <meta-data android:name="me.bridgefy.tracker.production" android:value="UA-63115155-3"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAiCStFNAwmP-WZMogyAsHiLeE7DJXcYQ0"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="8ff6ffa169d7323f2ffc1d7590be0fbe61386db0"/>
        <meta-data android:name="com.bridgefy.sdk.API_KEY" android:value="3175f147-805a-40d3-a7dc-12c201b41bb1"/>
        <meta-data android:name="com.digits.sdk.android.ConsumerKey" android:value="cAuAiyxVgX7NHQeH5qKHxhjvl"/>
        <meta-data android:name="com.digits.sdk.android.ConsumerSecret" android:value="HgFo3Tg0rRb10O4oo01pnnwjgOcc2sN66ykmKCGpPeY8m7EWpC"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="8ff6ffa169d7323f2ffc1d7590be0fbe61386db0"/>
        <service android:name="com.bridgefy.sdk.framework.controller.Analytics$NetworkJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <activity android:theme="@style/MediaTheme" android:name="com.twitter.sdk.android.tweetui.PlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/MediaTheme" android:name="com.twitter.sdk.android.tweetui.GalleryActivity"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="true"/>
        <activity android:theme="@style/FirebaseUI.Transparent" android:label="" android:name="com.firebase.p119ui.auth.KickoffActivity" android:exported="false"/>
        <activity android:label="@string/fui_title_recover_password_activity" android:name="com.firebase.p119ui.auth.p124ui.email.RecoverPasswordActivity" android:exported="false"/>
        <activity android:label="@string/fui_sign_in_default" android:name="com.firebase.p119ui.auth.p124ui.email.RegisterEmailActivity" android:exported="false"/>
        <activity android:label="@string/fui_sign_in_with_phone_number" android:name="com.firebase.p119ui.auth.p124ui.phone.PhoneVerificationActivity" android:exported="false" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:label="@string/fui_title_welcome_back_idp_prompt" android:name="com.firebase.p119ui.auth.p124ui.accountlink.WelcomeBackIdpPrompt" android:exported="false"/>
        <activity android:label="@string/fui_title_welcome_back_password_prompt" android:name="com.firebase.p119ui.auth.p124ui.accountlink.WelcomeBackPasswordPrompt" android:exported="false"/>
        <activity android:label="@string/fui_default_toolbar_title" android:name="com.firebase.p119ui.auth.p124ui.idp.AuthMethodPickerActivity" android:exported="false"/>
        <activity android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/facebook_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true"/>
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="me.bridgefy.main.firebaseinitprovider" android:initOrder="100"/>
        <activity android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity" android:exported="false" android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize"/>
        <service android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService" android:enabled="true" android:exported="false"/>
        <provider android:name="com.squareup.picasso.PicassoProvider" android:exported="false" android:authorities="me.bridgefy.main.com.squareup.picasso"/>
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" android:exported="false" android:excludeFromRecents="true" android:configChanges="orientation|screenSize"/>
    </application>
</manifest>
